<div class="container">
          <div class="card text-white border-info bg-dark mb-3" *ngFor="let item of todosItems | async" 
            [ngClass]="{'text-info':item.flag === 'Completed'}"
          >
            <div class="card-header">
                <div class="btn-group pull-right" role="group" aria-label="Basic example">   
                    {{ item.date }}
                </div>
                <div class=" float-right">
                    <span (click)="deltodoitemConfirmed(content,item.key)" placement="left" ngbTooltip="Delete item"> <i class="fas fa-trash-alt"></i></span>
                </div>
            </div>

            <div class="card-body">
              <!-- <h5 class="card-title">{{ item.date }}</h5> -->
              <p class="card-text">{{ item.item }} </p>
            </div>

            <div class="card-footer">
                <div class="btn-group pull-right" role="group" aria-label="Basic example"> 
                    <button type="button" class="btn btn-success disabled">
                        <i class="fas fa-calendar-check"></i> {{ item.flag }}
                    </button>
                    <button type="button" class="btn btn-outline-info" (click)="updateTodoitem(item.key,item.flag)" ngbTooltip="Update item">
                        <div *ngIf="item.flag  === 'Pending'; else showPending">
                            <i class="fas fa-check"></i> Complete
                        </div>
                        <ng-template  #showPending><i class="fas fa-undo"></i> Pending</ng-template>
                    </button>
                </div>
                <span class="badge badge-dark" style="color: teal; font-weight: 100; font-style:italic !important"> Last Update: {{ item.lastOp }}</span>

                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" placement="left" ngbTooltip="Add to calender"><i class="fas fa-calendar-alt"></i> </button>
                    <button type="button" class="btn btn-secondary" placement="left" ngbTooltip="Send an email"><i class="fas fa-envelope"></i>  </button>
                    <button type="button" class="btn btn-secondary" placement="left" ngbTooltip="Send SMS"><i class="fas fa-comments"></i> </button>
                </div> 
          </div>
           <!-- {{ item.data | json }} -->
        </div>
</div>



<!-- Modal to confirm deletion-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">To-Do List</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Do you want to delete this item(s).
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('confirmed')">YES</button>
        <button type="button" class="btn btn-success" (click)="c('cancel')">Cancel</button>
      </div>
  </ng-template>
  