<br/>
<div class="container">
    <div class="jumbotron">
            <h1 class="display-4"> <i class="far fa-calendar-alt"></i> Event Reminder..</h1>
            <p class="lead">This app was developed to add, manage and send reminders of events, the app has several features and functions,  and it was developed using Angular 6 and Firebase.</p>
            <hr class="my-4">
            <p>Avaliabe on <i class="fab fa-github-alt"></i><a href="https://github.com/libyapages/Event-Reminder---Angular-6" target="_blank"> Github.</a> </p>
            <a class="btn btn-dark" routerLink="../addtodo" href="/addtodo" role="button"><i class="fas fa-plus"></i> Add events</a> &nbsp;
             <a class="btn btn-light" routerLink="../" role="button"><i class="far fa-calendar-alt"></i> Events list</a> 
            <a class="btn btn-link" routerLink="../todosetting" role="button">Settings</a>
    </div>
    <div style="color:gray; text-align: left; font-style: italic; margin-top: -20px; font-size: 0.9em">Developed by: <span style="font-weight: bold"><a href="mailto:hakem_g@yahoo.com"> Hakim Elkharbash </a></span> @ 2018.</div>
    <div style="text-align: right; font-size: 0.75em; margin-top: -20px"><a href="https://www.linkedin.com/in/hakim-elkharbash/" target="_blank" class="linkCo"><i class="fab fa-linkedin fa-2x"></i></a> &nbsp; <a href="https://github.com/libyapages" target="_blank" class="linkCo"><i class="fab fa-github fa-2x"></i></a> &nbsp; <a href="https://www.facebook.com/LibyaPages.Net" target="_blank" class="linkCo"><i class="fab fa-facebook fa-2x"></i></a></div>
</div>

<br/><br/>
<div class="container" >
    <div class="jumbotron" >
            <h4 style="padding-bottom:20px">- Functions & Features..</h4>
            <ol style="line-height: 200%; font-size:1.15em">
                <li>Adding new events with GPS location and start/end date and time.</li>
                <li>Handeling all kind of input errors.</li>
                <li>Show notifications for app operations and actions. </li>
                <li>Show event details such as: duration and GPS location on the map. </li>
                <li>Update (Going/Not Going) status for all events. </li>
                <li>Managing three differentstauts (Happing Now - Comming - Completed) accourding to evant date/time.</li>
                <li>Delete specific evants or all events together after showing confirmation message.</li>
                <li>Apply three diffrent Angular 6 animations.  </li>
                <li>Show loading spinner while pulling the events informations.</li>
                <li>Show/Hide events.</li>
                <li>Send email reminders.</li>
                <li>Add event details to these calenders: iCalender, Google, Yahoo and Outlook.</li>
                <li>Apply searching and filtering to get certain events.</li>
                <li>Disable search, filter and delete, if there are no events. </li>
                <li>Show welcome message,if there are no events.</li>
              </ol>              
            <hr class="my-4">
            <br>
            <h4 style="padding-bottom:20px">- Modules..</h4>
            <ol style="line-height: 200%; font-size:1.15em">
                <li>ng-pick-datetime: <a href="https://www.npmjs.com/package/ng-pick-datetime" target="_blank">https://www.npmjs.com/package/ng-pick-datetime</a> </li>
                <li>ngx-toastr: <a href="https://www.npmjs.com/package/ngx-toastr" target="_blank">https://www.npmjs.com/package/ngx-toastr</a></li>
                <li>ngAddToCalendar: <a href="https://www.npmjs.com/package/@trademe/ng-add-to-calendar" target="_blank">https://www.npmjs.com/package/@trademe/ng-add-to-calendar</a></li>
                <li>ngx-moment: <a href="https://www.npmjs.com/package/ngx-moment" target="_blank">https://www.npmjs.com/package/ngx-moment</a></li>
                <li>ngx-mapbox: <a href="https://www.npmjs.com/package/ngx-mapbox" target="_blank">https://www.npmjs.com/package/ngx-mapbox</a></li>
                <li>ng-bootstrap: <a href="https://www.npmjs.com/package/@ng-bootstrap/ng-bootstrap" target="_blank">https://www.npmjs.com/package/@ng-bootstrap/ng-bootstrap</a></li>
                <li>Loading spinner: <a href="http://tobiasahlin.com/spinkit/" target="_blank">http://tobiasahlin.com/spinkit/</a></li>
              </ol>              
            
    </div>
</div>